<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >

<f:view>
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>List of Customer</title>
        </f:facet>
    </h:head>
    <!--<h:outputStylesheet library="css" name="theme.css"/>-->
    <h:form id="form" enctype="multipart/form-data">
        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="50" />
            <p:layoutUnit position="west" size="100"/>
            <p:layoutUnit position="center">
                <p:layout>

                    <p:layoutUnit id="center_west" position="west" size="300">

                        <div class="ui-grid ui-grid-responsive">

                            <div id="addPicBlock" class="ui-grid-row">
                                <div class="ui-grid-col-2"/>
                                <div class="ui-grid-col-2">
                                    <h3 style="align-content: center">Coverbook</h3>
                                    <p:graphicImage cache="false" id="coverImage" library="images" value="/images/#{image.uploadedFile.fileName}" width = "200" height = "300"/>
                                </div>
                            </div>
                            <p:spacer />



                            <div class="ui-grid-row">
                                <p:fileUpload value="#{image.uploadedFile}" mode="simple" skinSimple="true"/>
                            </div>
                            <p:spacer />

                            <div class="ui-grid-row">
                                <p:commandButton ajax="false" process="@this" styleClass="color-button1" value="Submit" actionListener="#{image.handleFileUpload}" disabled="false">
                                    <p:ajax delay="2000" update=":form:coverImage" immediate="true"/>
                                </p:commandButton>
                            </div>




                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit id="center_center" position="center" >
                        <div class="ui-grid ui-grid-responsive">
                            <h2>Add New Book</h2>

                            <div id="addTitleBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Title Name :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">

                                    <p:inputText id="name" value="#{book.bookEntity.title}" title="title" required="true" label="Name" />
                                    <p:message for="name" />
                                    <h:outputText value="#{validationView.text}" />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addAuthorBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Author :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputText value="#{book.bookEntity.author}" title="author"/>
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addCategoriesBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Categories :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:selectOneMenu id="categoriesDropdown" value="#{categories.selectedCategories}" style="width:150px">
                                        <f:selectItem itemLabel="Select Categories" itemValue=""/>
                                        <f:selectItems value="#{categories.allCategories}" var="cat"
                                                       itemLabel="#{cat.name}" itemValue="#{cat.id}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addPublisherBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Publisher :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:selectOneMenu id="publisherDropdown" value="#{publisher.selectedPublisher}" style="width:150px">
                                        <f:selectItem itemLabel="Select Publisher" itemValue=""/>
                                        <f:selectItems value="#{publisher.allPublisher}" var="pub"
                                                       itemLabel="#{pub.name}" itemValue="#{pub.id}"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addDescriptionBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Description :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputTextarea value="#{book.bookEntity.description}" rows="5" cols="30" counter="display" maxlength="50" counterTemplate="{0} characters remaining." autoResize="false" />
                                    <h:outputText id="display" />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addButtonBlock" class="ui-grid-row">
                                <div class="ui-grid-col-5"/>
                                <div class="ui-grid-col-4">
                                    <!--<p:commandButton value="Save" action="#{book.CreateBook(book.bookEntity)}"/>-->
                                    <p:commandButton value="Save" action="#{book.CreateBook}"/>
                                </div>
                                <div class="ui-grid-col-3">
                                    <p:commandButton process="@this" value="Cancle" action="#{book.returnIndex}"/>
                                </div>
                            </div>
                        </div>


                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
            <p:layoutUnit position="east" size="100"/>

        </p:layout>
    </h:form>

</f:view>
</html>
