<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
<f:view>
    <h:head/>

    <h:form>
        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="50" >
                <p:button outcome="index" value="Back" />
            </p:layoutUnit>
            <p:layoutUnit position="west" size="100"/>
            <p:layoutUnit position="center">

                <p:layout>

                    <p:layoutUnit id="inner_west" position="west" size="300">
                        <p:spacer />
                        <p:spacer />
                        <div id="detailPicBlock" class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2"/>
                                <div class="ui-grid-col-2">
                                    <h3 style="align-content: center">Coverbook</h3>
                                    <p:spacer />
                                    <p:spacer />
                                    <p:graphicImage library="images" value = "ImageSource/dog.jpg" width = "200" height = "200" />
                                </div>
                            </div>
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit id="inner_center" position="center" >
                        <p:spacer />
                        <p:spacer />
                        <div class="ui-grid ui-grid-responsive">

                            <div id="titleBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <h3 style="align-content: center">Book Title</h3>
                            </div>

                            <div id="authorBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Author :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    Author name
                                    <!--<h:outputText value="#{car.year}" /> -->
                                </div>
                            </div>
                            <p:spacer />

                            <div id="categoriesBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Categories :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    Categories
                                    <!--<h:outputText value="#{car.year}" /> -->
                                </div>
                            </div>
                            <p:spacer />

                            <div id="publisherBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Publisher :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    Publisher
                                    <!--<h:outputText value="#{car.year}" /> -->
                                </div>
                            </div>
                            <p:spacer />

                            <div id="descriptionBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Description :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <h:outputText value="Hello world Hello world Hello world Hello world Hello world Hello world
                                    Hello worldHello worldHello worldHello worldHello worldHello worldHello world" />
                                </div>
                            </div>
                            <p:spacer />
                        </div>
                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
            <p:layoutUnit position="east" size="100"/>
            <p:layoutUnit position="south" size="50"/>

        </p:layout>
    </h:form>
</f:view>
</html>
