<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>
    <h:head/>
    <h:form>
        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="100" />
            <p:layoutUnit position="west" size="100"/>
            <p:layoutUnit position="center">
                <p:layout>

                    <p:layoutUnit id="center_west" position="west" size="300">
                        <p:spacer />
                        <p:spacer />
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2"/>
                                <div class="ui-grid-col-2">
                                    <h3 style="align-content: center">Coverbook</h3>
                                    <p:spacer />
                                    <p:spacer />
                                    <p:graphicImage library="images" value = "ImageSource/dog.jpg" width = "200" height = "300" />
                                </div>
                            </div>
                            <p:spacer />

                            <div class="ui-grid-row">
                                <p:fileUpload fileUploadListener="#{fileUploadView.handleFileUpload}" mode="advanced" dragDropSupport="true"
                                              update="messages" sizeLimit="1000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                <p:growl id="messages" showDetail="true" />
                            </div>
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit id="center_center" position="center" >
                        <div class="ui-grid ui-grid-responsive">
                            <h2>Edit Book</h2>

                            <div id="addTitleBolck" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Title Name :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputText />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addAuthorBolck" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Author :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputText />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addCategoriesBolck" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Categories :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <!--<p:pickList id="pickList" value="#{pickListView.cities}" var="cities" itemLabel="#{cities}" itemValue="#{cities}" />-->

                                    <!--<p:commandButton id="citySubmit" value="Submit" oncomplete="PF('cityDialog').show()" style="margin-top:5px" />-->
                                    <!--&lt;!&ndash;update="displayCities"&ndash;&gt;-->
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addPublisherBolck" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Publisher :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:selectOneMenu id="country" value="#{dropdownView.country}" style="width:150px">
                                        <!--<p:ajax listener="#{dropdownView.onCountryChange}" update="city" />-->
                                        <f:selectItem itemLabel="Select Country" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{dropdownView.countries}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addDescriptionBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Description :" />
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputTextarea rows="5" cols="30" counter="display" maxlength="50" counterTemplate="{0} characters remaining." autoResize="false" />
                                    <h:outputText id="display" />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addButtonBlock" class="ui-grid-row">
                                <div class="ui-grid-col-5"/>
                                <div class="ui-grid-col-4">
                                    <p:button outcome="index" value="Submit" >
                                        <f:param name="productId" value="10" />
                                    </p:button>
                                </div>
                                <div class="ui-grid-col-3">
                                    <p:button outcome="index" value="Cancel" >
                                        <f:param name="productId" value="10" />
                                    </p:button>
                                </div>
                            </div>
                        </div>

                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
            <p:layoutUnit position="east" size="100"/>

        </p:layout>
    </h:form>
</f:view>
</html>
