<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   <h:head>
       <f:facet name="first">
           <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
           <title>Book Library</title>
       </f:facet>
   </h:head>
    <!--menu-->
   <p:layout>
       <p:layoutUnit position="west">
           <h:form>
               <p:growl autoUpdate="true"/>

               <p:menu>
                   <p:menuitem value="Add Book" outcome="index" />
                   <p:menuitem value="All Books" outcome="home"/>
               </p:menu>
               <p:menu toggleable="true">
                   <p:submenu label="Category" toggleable="true">
                       <p:menuitem value="Sci-Fi" outcome="home"/>
                       <p:menuitem value="Novel" outcome="home"/>
                   </p:submenu>
               </p:menu>
           </h:form>
       </p:layoutUnit>
       <p:layoutUnit position="center">
           <h:form id="form">
               <p:dataGrid var="item" value="#{book.allBook}" columns="3" layout="grid"
                           rows="9" paginator="true" id="books"
                           paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                           rowsPerPageTemplate="6,12,16">

                   <f:facet name="header">
                       Book Library
                   </f:facet>

                   <p:panel header="#{item.title}" style="text-align:center">
                       <h:panelGrid columns="1" style="width:100%">
                           <p:graphicImage value="/images/#{item.coverPic}" width="100" height="150"/>
                           <h:outputText value="#{item.title}" />
                           <h:outputText value="#{item.author}" />
                           <h:outputText value="#{item.description}" />

                           <p:commandLink update=":bookDetail" oncomplete="PF('bookDialog').show()" title="View Detail">
                               <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                               <f:setPropertyActionListener value="#{item}" target="#{book.selectedBook}" />
                           </p:commandLink>
                       </h:panelGrid>
                   </p:panel>

               </p:dataGrid>

           </h:form>
       </p:layoutUnit>
    </p:layout>
   <p:dialog header="Book Info" widgetVar="bookDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
       <p:outputPanel id="bookDetail" style="text-align:center;">
           <p:panelGrid  columns="2" rendered="#{not empty book.selectedBook}" columnClasses="label,value">
               <f:facet name="header">
               </f:facet>

               <h:outputText value="ISBN:" />
               <h:outputText value="#{book.selectedBook.isbn}" />

               <h:outputText value="Title:" />
               <h:outputText value="#{book.selectedBook.title}" />

               <h:outputText value="Authors" />
               <h:outputText value="#{book.selectedBook.author}" />

               <h:outputText value="Categories:" />
               <h:outputText value="#{book.selectedBook.categoriesList}" />

               <h:outputText value="Publisher:" />
               <h:outputText value="#{book.selectedBook.publisher}" />

               <h:outputText value="description:" />
               <h:outputText value="#{book.selectedBook.description}" />
           </p:panelGrid>
       </p:outputPanel>
   </p:dialog>
</html>
