<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
   <f:view>
       <h:head>
       </h:head>
       <h:form>
           <p:tabView>
               <p:tab title="Book">
                   <div class="ui-grid ui-grid-responsive">

                       <div class="ui-grid-row">
                           <div class="ui-grid-col-3">
                               <p:commandButton process="@this" value="Home" action="#{book.returnHome}"/>
                           </div>
                           
                           <div class="ui-grid-col-3">
                               <h:outputLabel for="txt1" value="Search " />
                               <p:inputText id="txt1" value="#{searchView.text1}" required="true" label="Text 1">
                                   <f:validateLength minimum="2" />
                               </p:inputText>
                               <p:message for="txt1" />
                               <h:outputText value="#{searchView.text1}" />
                           </div>

                           <div class="ui-grid-col-3"></div>
                           <div class="ui-grid-col-1">
                               <!--<p:button outcome="index" value="Add" >-->
                                   <!--<f:param name="productId" value="10" />-->
                               <!--</p:button>-->
                               <p:commandButton process="@this" value="Add" action="#{book.startCreateBook}"/>
                           </div>
                           <div class="ui-grid-col-2">
                               <!--<p:button outcome="index" value="Delete" >-->
                                   <!--<f:param name="productId" value="10" />-->
                               <!--</p:button>-->
                               <p:commandButton process="@this" value="Cancle" action="#{book.returnIndex}"/>
                           </div>
                       </div>
                   </div>
                   <p:spacer />


                   <p:dataTable id="bookListDT" var="item" value="#{book.allBook}" rowKey="#{item.id}" style="margin-bottom:0">
                       <f:facet name="header">
                           Book
                       </f:facet>

                       <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                       <p:column headerText="ISBN">
                            <h:outputText value="#{item.isbn}" />
                       </p:column>

                       <p:column headerText="Name">
                           <h:outputText value="#{item.title}" />
                       </p:column>

                       <p:column headerText="Publisher">
                           <h:outputText value="#{item.publisher.name}" />
                       </p:column>

                       <p:column headerText="Categories">
                           <ui:repeat value="#{item.categoriesList}" var="cat">
                               <h:outputText value="#{cat.name}," />
                           </ui:repeat>
                       </p:column>

                   </p:dataTable>

               </p:tab>

               <p:tab title="Categories">

                   <div class="ui-grid ui-grid-responsive">

                       <div class="ui-grid-row">
                           <div class="ui-grid-col-3">
                               <p:button outcome="index" value="Home" />
                           </div>

                           <div class="ui-grid-col-3">
                               <h:outputLabel for="txt2" value="Search " />
                               <p:inputText id="txt2" value="#{searchView.text1}" required="true" label="Text 1">
                                   <f:validateLength minimum="2" />
                               </p:inputText>
                               <p:message for="txt1" />
                               <h:outputText value="#{searchView.text1}" />
                           </div>

                           <div class="ui-grid-col-3"></div>
                           <div class="ui-grid-col-1">
                               <p:button outcome="index" value="Add" />
                           </div>
                           <div class="ui-grid-col-2">
                               <p:button outcome="index" value="Delete" />
                           </div>
                       </div>
                   </div>
                   <p:spacer />

                   <p:dataTable id="publisherDT" var="item" value="#{book.allBook}" rowKey="#{item.id}" style="margin-bottom:0">
                       <f:facet name="header">
                           Categories
                       </f:facet>

                       <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                       <p:column headerText="ID">
                           <h:outputText value="#{item.isbn}" />
                       </p:column>

                       <p:column headerText="Name">
                           <h:outputText value="#{item.title}" />
                       </p:column>
                   </p:dataTable>

               </p:tab>

               <p:tab title="Author">
                   <div class="ui-grid ui-grid-responsive">

                       <div class="ui-grid-row">
                           <div class="ui-grid-col-3">
                               <p:button outcome="home" value="Home" />
                           </div>

                           <div class="ui-grid-col-3">
                               <h:outputLabel for="txt2" value="Search " />
                               <p:inputText id="txt3" value="#{searchView.text1}" required="true" label="Text 1">
                                   <f:validateLength minimum="2" />
                               </p:inputText>
                               <p:message for="txt1" />
                               <h:outputText value="#{searchView.text1}" />
                           </div>

                           <div class="ui-grid-col-3"></div>
                           <div class="ui-grid-col-1">
                               <p:button outcome="index" value="Add" />
                           </div>
                           <div class="ui-grid-col-2">
                               <p:button outcome="index" value="Delete" />
                           </div>
                       </div>
                   </div>
                   <p:spacer />

                   <p:dataTable id="authorDT" var="item" value="#{book.allBook}" rowKey="#{item.id}" style="margin-bottom:0">
                       <f:facet name="header">
                           Author
                       </f:facet>

                       <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

                       <p:column headerText="ID">
                           <h:outputText value="#{item.isbn}" />
                       </p:column>

                       <p:column headerText="Author Name">
                           <h:outputText value="#{item.title}" />
                       </p:column>


                   </p:dataTable>
               </p:tab>

               <p:tab title="Publisher">

                   <div class="ui-grid ui-grid-responsive">
                       <div class="ui-grid-row">
                           <div class="ui-grid-col-3">
                               <p:button outcome="index" value="Home" />
                           </div>

                           <div class="ui-grid-col-3">
                               <h:outputLabel for="txt2" value="Search " />
                               <p:inputText id="txt4" value="#{searchView.text1}" required="true" label="Text 1">
                                   <f:validateLength minimum="2" />
                               </p:inputText>
                               <p:message for="txt1" />
                               <h:outputText value="#{searchView.text1}" />
                           </div>

                           <div class="ui-grid-col-3"></div>
                           <div class="ui-grid-col-1">
                               <p:button outcome="index" value="Add" />
                           </div>
                           <div class="ui-grid-col-2">
                               <p:button outcome="index" value="Delete" />
                           </div>
                       </div>


                   </div>
                   <p:spacer />

                   <p:dataTable id="helloDT" var="item" value="#{book.allBook}" rowKey="#{item.id}" style="margin-bottom:0">

                       <f:facet name="header">
                           Publisher
                       </f:facet>

                       <p:column headerText="ID">
                           <h:outputText value="#{item.isbn}" />
                       </p:column>

                       <p:column headerText="Publisher List">
                           <h:outputText value="#{item.isbn}" />
                       </p:column>

                       <p:column headerText="Address">
                           <h:outputText value="#{item.isbn}" />
                       </p:column>

                   </p:dataTable>

               </p:tab>

           </p:tabView>
       </h:form>
   </f:view>
</html>
