<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:outputLabel value="Hello, world"/>
</f:view>

<f:view>
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>List of Customer</title>
        </f:facet>
    </h:head>
    <!--<h:outputStylesheet library="css" name="theme.css"/>-->
    <h:form id="form" enctype="multipart/form-data">
        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="50" />
            <p:layoutUnit position="west" size="100"/>
            <p:layoutUnit position="center">
                <p:layout>

                    <p:layoutUnit id="center_west" position="west" size="300">

                        <div class="ui-grid ui-grid-responsive">

                            <div id="addPicBlock" class="ui-grid-row">
                                <div class="ui-grid-col-2"/>
                                <div class="ui-grid-col-2">
                                    <h3 style="align-content: center">Coverbook</h3>
                                    <p:graphicImage cache="false" id="coverImage" library="images" value="/ImageSource/black.png" width = "200" height = "300"/>
                                </div>
                            </div>
                            <p:spacer />



                            <div class="ui-grid-row">
                                <p:fileUpload mode="simple" skinSimple="true"/>
                            </div>
                            <p:spacer />

                            <div class="ui-grid-row">
                                <p:commandButton ajax="false" process="@this" styleClass="color-button1" value="Submit" actionListener="#{image.handleFileUpload}" disabled="false">
                                    <p:ajax delay="2000" update=":form:coverImage" immediate="true"/>
                                </p:commandButton>
                            </div>




                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit id="center_center" position="center" >
                        <div class="ui-grid ui-grid-responsive">
                            <h2>Add New Book</h2>

                            <div id="addTitleBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Title Name :" style="font-weight:bold"/>
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">

                                    <p:inputText id="name" title="title" required="true" label="Name"
                                                 requiredMessage="สวัสดี โปรดกรอกข้อมูล"
                                                 validatorMessage="โปรดกรอกข้อมูลให้ถูกต้อง">
                                        <f:validateLength minimum="3" maximum="20" />
                                    </p:inputText>
                                    <p:message for="name" />
                                    <!--<h:outputText value="#{validationView.text}" />-->
                                    <h:outputText />

                                </div>
                            </div>
                            <p:spacer />

                            <div id="addAuthorBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Author :" style="font-weight:bold"/>
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputText  id="authorName" title="author" required="true" label="Author"
                                                  requiredMessage="Please enter your Author Name."
                                                  validatorMessage="Invalid Author Name format">
                                        <f:validateLength minimum="3" maximum="20" />
                                    </p:inputText>
                                    <p:message for="authorName" />
                                </div>
                            </div>
                            <p:spacer />


                            <div id="addDescriptionBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Description :" style="font-weight:bold"/>
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputTextarea  id="testDescription" rows="5" cols="30" counter="display"
                                                      maxlength="50" counterTemplate="{0} characters remaining."
                                                      autoResize="false" equired="true" label="Description"
                                                      requiredMessage="Please enter your Describtion."
                                                      validatorMessage="Invalid Describtion format">
                                        <f:validateLength minimum="3" maximum="50" />
                                    </p:inputTextarea>
                                    <p:message for="testDescription" />
                                    <h:outputText id="display" />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addTestBlock" class="ui-grid-row">
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-3">
                                    <h:outputLabel value="Test Text :" style="font-weight:bold"/>
                                </div>
                                <div class="ui-grid-col-1"/>
                                <div class="ui-grid-col-7">
                                    <p:inputText  id="testText" title="testText" required="true" label="test"
                                                  requiredMessage="Please enter your testText address."
                                                  validatorMessage="Invalid testText formatห">
                                        <f:validateLength minimum="3" maximum="20" />
                                    </p:inputText>
                                    <p:message for="testText" />
                                </div>
                            </div>
                            <p:spacer />

                            <div id="addButtonBlock" class="ui-grid-row">
                                <div class="ui-grid-col-5"/>
                                <div class="ui-grid-col-4">
                                    <!--<p:commandButton value="Save" action="#{book.CreateBook(book.bookEntity)}"/>-->
                                    <p:commandButton value="Submit" ajax="false" validateClient="true" style="margin-right:10px"/>

                                </div>
                                <div class="ui-grid-col-3">
                                    <p:commandButton process="@this" value="Cancle" action="#{book.returnIndex}"/>
                                </div>
                            </div>
                        </div>


                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
            <p:layoutUnit position="east" size="100"/>

        </p:layout>
    </h:form>

</f:view>

</html>
